{% extends 'covid/base.html' %}

{% block content %}
<div class="container mt-5">
    <div class="row d-flex justify-content-center">
        <h5></h5>
    </div>
    <div class="row d-flex justify-content-center mt-3">
        <div class="card-deck text-center">
            <div class="card border-danger mb-3" style="min-width: 12rem;">
                <div class="card-body text-danger">
                    <h5 class="card-title">Confirmed</h5>
                    <h3 class="card-text">{{states.0.Confirmed}}</h3>
                </div>
            </div>
            <div class="card border-primary mb-3" style="min-width: 12rem;">
                <div class="card-body text-primary">
                    <h5 class="card-title">Active</h5>
                    <h3 class="card-text">{{states.0.Active}}</h3>
                </div>
            </div>
            <div class="card border-success mb-3" style="min-width: 12rem;">
                <div class="card-body text-success">
                    <h5 class="card-title">Recovered</h5>
                    <h3 class="card-text">{{states.0.Recovered}}</h3>
                </div>
            </div>
            <div class="card border-secondary mb-3" style="min-width: 12rem;">
                <div class="card-body text-secondary">
                    <h5 class="card-title">Deceased</h5>
                    <h3 class="card-text">{{states.0.Deaths}}</h3>
                </div>
            </div>
        </div>
    </div>
    <div class="row mt-2">
        <div class="col d-flex justify-content-center">
            <div class="card-deck text-center">
                <div class="card border-info mb-3" style="min-width: 26rem;">
                    <div class="card-body text-info">
                        <h4 class="card-text">Total Vaccination : {{states.0.vaccinated}}</h4>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- table -->
    <div class="row justify-content-center mt-5" id = 'state'>
        <div class="col-auto">
            <table class="table table-hover table-responsive">
                <thead>
                    <tr>
                        <th scope="col">State</th>
                        <th scope="col">Confirmed</th>
                        <th scope="col">Active</th>
                        <th scope="col">Recovered</th>
                        <th scope="col">Deceased</th>
                        <th scope="col">Vaccination</th>
                    </tr>
                </thead>
                <tbody>

                    {% for state in states %}
                    <tr>
                        <th scope="row"><a href="{% url 'state' state.State_code %}">{{state.State}}</a></th>
                        <td>{{state.Confirmed}}</td>
                        <td>{{state.Active}}</td>
                        <td>{{state.Recovered}}</td>
                        <td>{{state.Deaths}}</td>
                        <td>{{state.vaccinated}}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock content %}